.body{
    background-color:#ffd3ff;
}

.navbar{
    background-color: #ffd3ff;
    padding: 40px;
    /* -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; */
}
.navbar-toggler{
    background-color: rgb(192, 50, 149);
    border: 2px solid grey;
}
.navbar-toggler:hover, .navbar-toggler:active, .nav-item:hover{
    background-color: rgb(192, 50, 149);
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
    text-decoration-style: none;
}
.navbar-brand{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-decoration-style: none;
    color: rgb(192, 50, 149);
    text-transform: uppercase;
}

.nav-item{
    margin: 5px;
    padding: 5px;
}

.nav-item a:hover, .nav-item a:focus{
    background-color:rgb(192, 50, 149);
}

.col-xs-12{
    background-color: yellowgreen;
    border: 2px solid green;
    padding: 10px 10x 10px 10px;
    margin: 15px 15px 15px 15px;
}
.content{
    padding: 40px 10px 50px;
    align-items: center;
    background-color: #ffd3ff;
    height: min-content;
}
.btn{
    background-color:rgb(192, 50, 149);
    border-radius: 20px;
    padding: 4px 25px;
}

button:hover, button:focus{
    text-decoration: none;
    text-decoration-style: none;
    box-decoration-break:slice;
}
.content > div{
    padding:5px;
    text-align:center;
    margin-bottom: 10px;
}
.column {
    display: block;
    background-color: #ffd3ff;
    padding: .75rem;
}
.intro{
    align-items: center;
}

.tag{
    font-size: 3em;
    font-weight: bold;
    
}
.page-footer{
    background-color: rgb(192, 50, 149);
}

.navbar-toggler-icon{
    color:red;
}
/*  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.team-boxed {
    color: #313437;
    
}

.team-boxed p {
    color: #7d8285
}

.team-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit
}

@media (max-width:767px) {
    .team-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.team-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 60px auto;
    padding-top: 40px;
}

.team-boxed .intro p {
    margin-bottom: 0
}

.team-boxed .people {
    padding: 50px 0
}

.team-boxed .item {
    text-align: center;
    max-width: 100%;
}

.team-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px
}

.team-boxed .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit
}

.team-boxed .item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
}

.team-boxed .item .description {
    font-size: 15px
}

.team-boxed .item img {
    width: 150px;
    height:150px;
    image-rendering:auto;
    border-radius: 100%;
}

.team-boxed .social {
    font-size: 18px;
    color: #a2a8ae
}

.team-boxed .social:hover {
    font-size: 18px;
    color: #f80808
}

.team-boxed .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
    padding: 6px
}

.team-boxed .social a:hover {
    opacity: 1
}

.fa {
    font-size: 28px
}

.intro h1 {
    color: #fff
}

.intro {
    margin-top: 23px
}

.box img {
    cursor: pointer;
    width: 9em
}
